.about-section-2 {
    padding-top: 0px;
    padding-bottom: 94px;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.about-img-list {
    list-style: none;
    display: flex;
}

.about-img-list-item {
    position: relative;
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
}

.about-img-list-item:last-child {
    margin-right: 0px;
}

.about-work-desc {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-title-color-theme-light);
    background-color: rgba(47, 48, 58, 0.8);
}

.about__icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
}