.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-theme);
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.container-footer {
  display: block;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    padding-bottom: 0;
  }
}

.logo-footer-link {
  display: flex;
  justify-content: center;
  font-style: normal;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  @include font(24px, 700, 28px);
  text-decoration: none;
  color: var(--primary-title-color-theme-light);
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    @include font(26px, 700, 31px);
    margin-left: 0;
    justify-content: start;
  }
}

.footer-address {
  text-decoration: none;
  @include font(14px, 400, 24px);
  font-style: normal;
  color: var(--primary-title-color-theme-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--modal-button-hov-foc-color);
  }
}

.footer-address-list {
  display: block;
  list-style: none;
}

.address {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}

.footer-contact-decor {
  @include font(14px, 400, 24px);
  font-style: normal;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-title-color-theme-light);
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}

.footer-address-wrapper {
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 232px;
    margin-left: 76px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
  }
}

.footer-social-links {
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 0;
  }
}

.footer-social-links-head {
  @include font(14px, 700, 16px);
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-link-list-footer {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-top: 20px;
  padding-bottom: 60px;
  list-style: none;
}

.social-link-item-footer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  gap: 10px;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-link-footer {
  @extend %flex-center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon-footer {
  fill: #ffffff;
}