.studio-hero {
    background-color: var(--background-color-theme);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-bg.jpg");
}

.studio-hero__title {
    color: var(--primary-title-color-theme-light);
    font-style: normal;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.studio-hero__modal-button {
    display: flex;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-title-color-theme-light);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--modal-button-hov-foc-color);
    }
}

.modal-button-text {
    color: var(--primary-title-color-theme-light);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
}