.logo-header {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-right: 93px;
}

.logo-header-half1 {
    color: var(--accent-color);
}

.logo-header-half2 {
    color: var(--primary-text-color-theme-dark);
}