:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #000000;
    --secondary-text-color-theme-dark: #212121;
    --primary-text-color-theme-light: #757575;
    --secondary-text-color-theme-light: #303030;
    --background-color-theme: #2F303A;
    --background-color-theme-light: #F5F4FA;
    --accent-color: #2196F3;
    --modal-button-hov-foc-color: #188CE8;
    --primary-title-color-theme-light: #FFFFFF;
    --footer-address-color: 255, 255, 255;
}